.pSelect label img {
    width: 120px;
    height: 120px;
    background-color: #e6e2e2;
    /*background-color: white;*/
}

.pSelect  {
    
   
}

.mps{
    margin-right:auto;
    margin-left:auto;
    width:1240px;
}

.pmName {
    font-size:22px;
    padding-left:15px;
}
._content{
    background-color:white;
    width:800px;
    height:auto;
    display:none;
    padding-top:-400px;
    border-radius:10px;
}
#show {
    padding-top: 40px;
    padding-left: 150px;
}
