<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Admin Login</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Roboto.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


    <link rel="stylesheet" type="text/css" href="~/Content/materialize.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/newLogin.css" />

    <style>
    </style>

</head>
<body  style="background-color: #eff0f4;">
   @RenderBody()
</body>
</html>
