<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Content/Roboto.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/materialize.css" />
    <script type="text/javascript" src="~/Scripts/materialize.js"></script>
    <link rel="stylesheet" href="~/Content/sellerSignUp.css">
</head>
<body style="background-color: #eff0f4;">
    <div>
        @RenderBody()
    </div>
</body>
</html>
